.btns{
    margin:0 5px; /* ottaa napit irti toisistaan */
    display: inline-block;
}

  .napit {
    position: fixed;
    bottom: 0; /* laittaa napit sivun alaosaan */
    left: 50%;
    transform: translateX(-50%); /* laittaan napit sivun keskelle */
  }

  .btn-primary { /* nappien väri ja muoto */
    background-color: rgb(43, 43, 43);
    border: 1px solid rgb(43, 43, 43);
    border-radius: 12px;
  }

  .btn-primary:hover { /* nappien väri, kun hiiri laitetaan napin kohdalle */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(43, 43, 43);
  }