*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
ul{
    float:left;
    width:100%;
    list-style-type:none;
}
li{
    
    display:inline;
    text-align: center;
}
ul.pysty li{
    padding:1%;
    clear:both;
    display: list-item;
}
p{
    padding:5%
}
h1{
    padding: 5%;
}
div{
    
    shape-outside: polygon(0 0, 0 200px, 200px 300px);
    width: 300px;
    height:200px;
    float:left;
}
span{
    padding:1%;
    display: list-item;
    list-style-position:inside;
}