.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.wrapper div {
    border: 1px solid black;
    background-color: lime;
    margin: 0em 2em;
    width: 15%;
    height: 10em;
    padding-top: 0.1em;



}

.wrapper2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.wrapper2 div {
    border: 1px solid black;
    background-color: red;
    height: 5em;
    flex-grow: 1;
}

.box7 {
    flex-grow: 3;
}