body {
  font-family: 'Nunito'; 
  width: 100%;
  height: 100vh;
  background-color: rgb(40, 40, 40);
}

h1 {
  text-align: center;
  font-size: 28px;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.active {
  background-color: #412964;
}

.active:hover {
  background-color: #231636;
}


#box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

#boxi {
  font-family: 'serif'; 
  margin: 0;
  border: 4px solid #50337b;
  background-color: white;
  width: 75%;
  height: 75%;
}

#btn1 {
  position: relative;
  bottom: 50%;
  left: 5%;
  float: left;
}

#btn2 {
  position: relative;
  bottom: 50%;
  right: 5%;
  float: right;
}

.btns {
  margin: 0 5px;
  display: inline-block;
}

.btn-primary {
  background-color: white;
  border: 1px solid white;
  color: black;
  border-radius: 12px;
}

.btn-primary:hover {
  background-color: rgb(65, 65, 65);
  color: white;
  border: 1px solid rgb(65, 65, 65);
<<<<<<< HEAD
=======
}

#box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

#boxi2 {
  font-family: 'serif'; 
  margin: 0;
  border: 4px solid #50337b;
  background-color: white;
  width: 45%;
  height: 70%;
>>>>>>> 9b8d03b857c805ac0dab696b763b7bb2a18a977e
}