body {
    font-family: 'Nunito'; 
    width: 100%;
    height: 100vh;
    background-color: rgb(40, 40, 40);
  }
  
  h1 {
    text-align: center;
    font-size: 28px;
    color: white;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  
  .active {
    background-color: #412964;
  }
  
  .active:hover {
    background-color: #231636;
  }
  
  .btn-primary {
    background-color: rgb(65, 65, 65);
    border: 1px solid rgb(65, 65, 65);
    color: white;
    border-radius: 12px;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: rgb(110, 110, 110);
    border: 1px solid white;
}

.form-control {
  background-color: rgb(65, 65, 65);
  color: white;
}
  
  .tausta {
      border-radius: 25px;
      background: rgb(255, 255, 255);
      padding: 15px
  }
  
  #boxi11 {
      margin: auto;
      width: 100%;
      height: 100%; 
      box-sizing: border-box;
  }