body {
    background-color: #ffffff;
  }
  
  #container {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  #container2 {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  
  .napit {
    display: flex;
  }

  #edit {
    padding: 5px;
    outline: none;
  }

  #edit-button, #edit-button2 { /* ilman tätä niiden muokkausnappien teksit ei oo keskellä lol */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  button {
    width: 80px;
    padding: 5px;
    margin: 0 3px;
    background-color: #ff7e00;
    outline: none;
    border: 1px solid #ff7e00;
    box-shadow: 2px 2px 2px #3f3f3f;
  }
  
  .btn-primary {
    background-color: rgb(43, 43, 43);
    border: 1px solid rgb(43, 43, 43);
    border-radius: 12px;
  }
  
  .btn-primary:hover {
    background-color: white;
    color: black;
  }