body {
    background-color: rgb(120, 120, 120);
}
.apua {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .apua p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  