body {
	background-size: cover;
    font-family: 'Nunito';
    color: rgb(255, 255, 255);
}

.tausta {
	border-radius: 25px;
	background: rgb(43, 43, 43);
	padding: 15px
}

#boxi {
    margin: auto;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}

.btn-primary {
    color: rgb(86, 86, 86);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
  }
  
.btn-primary:hover {
background-color: rgb(59, 59, 59);
border: rgb(59, 59, 59);
color: rgb(255, 255, 255);
}