body {
    background-color: rgb(166, 111, 255);
    font-family: Arial;
    color: rgb(196, 239, 255);
}

p {
    color: rgb(55, 55, 55);
    font-size: 1.5em;
}

h1, h2 {
    color: rgb(105, 105, 105)
}

.navigointi {
    text-align: left;
    background-color:rgb(238, 237, 210);
    border: 1px solid black;
}

.tekstiaaa {
    font-size: 125%;
}

.kuvat {
    max-width: 100%;
}

.jotainnn {
    float: left;
}