body {
    background-color: #dff9fb;
}
h1 {
    color: #95afc0;
}
h2 {
    color: #535c68;
}
p {
    color: #686de0;
}
li {
    color: #686de0;
}
address {
    color: #686de0;
}
ul {
    list-style-type: circle;
  }
  img {
    float:right;
  }